################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Trading/CryptoTrading/bin/Debug/net9.0
/Trading/CryptoTrading/.vs/CryptoTrading
/Trading/CryptoTrading/obj
/Trading/CryptoTrading.Persistence/obj
